.middle a{
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.icon i{
    font-size: 20px;
   margin-left: 10px;
}
#whitening{
    width: 211px;
    height: 260px;
}
#fairness{
    height: 260px;
}